@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}


body {
	font-family: "Roboto", serif;
}


img {
	max-width: 100%;
}


.container {
	max-width: 1280px;
	margin: 0 auto;
}


.header {
	background-color: #F0F0F0;
}


.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
	background-color: #072874;
}


.menu img {

}

.menu .navbar ul {
 display: flex;
}


.menu .navbar ul li a {
	font-size: 18 px;
	padding: 0 20px;
	color: white;
	display: block;
	font-weight: 400;
	text-decoration: none;
}


.menu .navbar ul li a:hover {
	background-color: #011D56;
}


#menu {
	display: none;
}


.menu-icono {
	width: 25px;
}


.menu label {
	cursor: pointer;
	display: none;
}


.header-content {
	display: flex;
	justify-content: space-between;
	padding: 80px 0;
}


.header-txt h1 {
	font-size: 48px;
	font-weight: 700;
	text-transform: uppercase;
	color: #3C4043;
	margin-bottom: 15px;
}


p {
	font-size: 18px;
	color: #3C4043;
	margin-bottom: 15px;
}


.btn-01 {
	display: inline-block;
	padding: 10px 25px;
	color: white;
	background-color: #072874;
	border-radius: 25px;
	font-size: 16px;
	text-decoration: none;
}

	.btn-01:hover {
		background-color: #011D56;
	}


.header-img {
	flex-basis: 50%;
}




.footer container {
		max-width: 1280px;
		margin: 0 auto;
	}


 	.footer {
 		background-color: #072874;
 		padding: 70px 0;
 		color: white;
 	}


 	.footer-content {
 		display: flex;
 		justify-content: space-between;
 	}


 	.footer-links h4 {
 		margin-bottom: 20px;
 		font-size: 17px;

 	}


 	.footer-links a {
 		display: block;
 		color: #C9DCFD;
 		text-decoration: none;
 		font-size: 16px;
 		font-weight: 400;
 	}

	 	.footer-links a:hover {
	 		color: white;
	 	}


	 .social-links {
	 	display: flex;
	 	color: white;
	 }


	 .social-links a {
	 	color: white;
	 	font-size: 17px;
	 	margin-right: 20px;
	 }






@media (max-width:768px) {


	.menu {
		padding: 20px;
		position: relative;
	}


	.menu label {
		display: initial;
	}


	.menu .navbar {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background-color: #072874;
		display: none;
	}


	.menu .navbar ul {
		flex-direction: column;
	}


	.menu .navbar ul li {
		width: 100%;
		padding: 20px 0;
	}

 	#menu:checked ~ .navbar{
 		display: initial;
 	}

 	.header-content {
 		padding: 30px;
 		flex-direction: column;
 		text-align: center;
 	}


 	.header-txt {
 		padding: 0 0 40px 0;
 	}


 	.footer-content {
 		flex-direction: column;
 		align-items: center;
 		text-align: center;
 	}


 	.footer-links {
 		margin-bottom: 40px;
 	}


 	.social-links {
 		justify-content: center;
 	}

		 	.social-links a:last-child {
		 		margin: 0;
		 	}


}

}










